<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar usuario..." #txtTermino
          (keyup)="buscar(txtTermino.value)">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">

    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios (total de usuarios: {{totalUsuarios}})</h4>
        <h6 class="card-subtitle">Usuarios registrados en la aplicación.</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w100">Role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td class="text-center">
                  <img  (click)="cargarImagen(usuario)" [src]="usuario.imagenUrl" class="thumb-avatar cursor" alt="Avatar del usuario">
                </td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombre}}</td>
                <td>
                  <select class="form-control w140" name="lstRoles" id="lstRoles" [(ngModel)]="usuario.role"
                    (change)="cambiarRole(usuario)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                  <span class="label label-danger" *ngIf="usuario.google">Google</span>
                  <span class="label label-info" *ngIf="!usuario.google">Email</span>
                </td>
                <td class="text-nowrap text-center">
                  <a class="cursor" (click)="borrarUsuario(usuario)" data-toggle="tooltip" data-original-title="Borrar">
                    <i class="fa fa-close text-danger"></i> </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="txtTermino.value.length === 0">
          <button class="btn btn-secondary" (click)="paginar(-1)">Anterior</button>
          &nbsp;
          <button class="btn btn-secondary" (click)="paginar(1)">Siguiente</button>

        </div>
      </div>
    </div>
  </div>
</div>
